POSTGRES_PASSWORD=change_me
POSTGRES_USER=postgres
POSTGRES_DB=hired
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
RABBITMQ_URL=amqp://admin:secure_password@localhost:5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=secure_password
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me