@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6d5aea;

  --background-primary: #fcfbfe;
  --background-secondary: #f6f3fc;
  --background-tertiary: #f0ebfa;

  --text-primary: #161616;
  --text-secondary: #3f454c;

  --disabled: #495057;
  --disabled-background: #e9ecef;

  --error: #c1121f;

  --warning: #c16c12;

  --success: #26a65b;

  --white: #ffffff;
  --black: #161616;

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button:not(:disabled) {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-primary);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

p {
  color: var(--text-primary);
  font-size: 16px;
}
