RABBITMQ_URL=amqp://admin:secure_password@localhost:5672
POSTGRES_PASSWORD=change_me
POSTGRES_USER=postgres
POSTGRES_DB=files
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
NODE_ENV=development
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
PORT=3003
REDIS_URL=redis://localhost:6379/0
REDIS_TTL=60000
REDIS_LRU_SIZE=5000