RABBITMQ_URL=amqp://admin:secure_password@localhost:5672
POSTGRES_PASSWORD=change_me
POSTGRES_USER=postgres
POSTGRES_DB=communication
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
NODE_ENV=development
REDIS_URL=redis://localhost:6379/0
REDIS_TTL=60000
REDIS_LRU_SIZE=5000